{% extends "base.html" %}

{% block content %}


{% comment %} <h1 style="background-color: #11101d; color: whitesmoke; padding-left: auto; width: 100%;">StaySmart</h1> {% endcomment %}
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">SmartStay</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="{% url 'dashboard' %}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="{% url 'pg_hostel' %}">
        <i class='bx bx-home-circle'></i>
        <span class="links_name">Pg/Hostel</span>
      </a>
      <span class="tooltip">Pg/Hostel</span>
    </li>
    <li>
      <a href="{% url 'aboutus' %}">
        <i class='bx bx-chat'></i>
        <span class="links_name">About Us</span>
      </a>
      <span class="tooltip">About Us</span>
    </li>
    
    <li class="profile">
      <div class="profile-details">
        <i class='bx bx-user'></i>
        <div class="name_job">
          <div class="name">Tech Army</div>
          <div class="job">Web designer</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"></i>
    </li>
  </ul>
</div>
<script>
  let sidebar = document.querySelector(".sidebar");
let closeBtn = document.querySelector("#btn");
let searchBtn = document.querySelector(".bx-search");
closeBtn.addEventListener("click", () => {
  sidebar.classList.toggle("open");
  menuBtnChange(); //calling the function(optional)
});
searchBtn.addEventListener("click", () => {
  // Sidebar open when you click on the search iocn
  sidebar.classList.toggle("open");
  menuBtnChange(); //calling the function(optional)
});
// following are the code to change sidebar button(optional)
function menuBtnChange() {
  if (sidebar.classList.contains("open")) {
    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
  } else {
    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
  }
}
</script>


{% endblock content %}