<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password1">Password:</label><br>
        <input type="password" id="password1" name="password1"><br><br>
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2"><br><br>
    
        <input type="submit" value="Sign Up">
        <a href="{% url 'signin' %}">Already have an account? Sign in</a>
    </form>
    
</body>

</html>


