# True for development, False for production
DEBUG=True

SECRET_KEY=abcdedsasjklhfdasfoj

DB_ENGINE=django.db.backends.postgresql
DB_HOST=aws-0-ap-southeast-1. pooler. supabase. com
DB_NAME=postgres
DB_USERNAME=postgres.txnwaaklkcohuyorqiyg
DB_PASS=C9WUJvy4fDsZ3epB
DB_PORT=5432